.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-left: 670px;
    font-family: cursive;
}


table {
    margin: auto;
}


input {
    font-size: 29px;
    border-radius: 15px;
    height: 73px;
    border-width: 4px;
}

button {
    font-size: 25px;
    background-color: rgb(89, 85, 85);
    color: rgb(241, 253, 253);
    width: 86px;
    height: 79px;
    border-radius: 15px;
    border-width: 3px;
}

button:hover {
    background-color: rgb(184, 182, 182);
    color: rgb(63, 60, 57);
}

.calculator {
    display: inline-block;
    background-color: rgb(10, 10, 10);
    padding: 23px;
    border: 10px;
    border-radius: 30px;
    border-width: 5px;
    border: 3px solid white;
}